<h1> Welcome to Geo Tracker Application</h1>

<body>
      <script src = "/homeScripts.js"></script>
        <div>
            <p>
            latitude : <span id = 'latitude'></span>&deg;<br/>
            longitude : <span id = 'longitude'></span>&deg;<br/>
            </p>
            <div>
                <button id ='button1' type="button" onclick= btnOnClick() > Store Geo Location </button>
                <button id ='button1' type="button" onclick= getWeather() > View Weather </button>
            </div>
        </div>
  </body>
